@tailwind components;
@tailwind utilities;
@tailwind base;

@layer components {
  /* custom settings */

  /* fonts */
  .text-h1 {
    @apply text-[1.8rem] font-extralight leading-none;
    @apply sm:text-[3rem];
    @apply xl:text-[3.8rem];
  }

  .text-h2 {
    @apply text-[1.6rem] font-extralight;
    @apply sm:text-[2.5rem];
    @apply xl:text-[3rem];
  }

  .text-h3 {
    @apply text-[1.4rem] font-extralight;
    @apply sm:text-[2rem];
    @apply xl:text-[2.4rem];
  }

  .text-h4 {
    @apply text-[1.2rem] font-extralight;
    @apply sm:text-[1.7rem];
    @apply xl:text-[2rem];
  }

  .text-h5 {
    @apply text-[1.1rem] font-extralight;
    @apply sm:text-[1.4rem];
    @apply xl:text-[1.6rem];
  }

  .text-h6 {
    @apply text-[1rem] font-extralight;
    @apply sm:text-[1.2rem];
    @apply xl:text-[1.25rem];
  }

  .text-body {
    @apply text-[0.9rem] font-extralight leading-snug tracking-wider;
    @apply sm:text-[0.925rem];
  }

  .text-label-big {
    @apply text-[0.6rem] font-light tracking-wider;
    @apply xl:text-[0.75rem];
  }

  .text-label {
    @apply text-[0.6rem] font-light tracking-wider;
  }

  .text-link-interactive {
    @apply hover:decoration-dashed active:decoration-dotted;
  }

  .text-link-base {
    @apply underline decoration-1 underline-offset-4;
  }

  .text-link {
    @apply text-link-base;
    @apply text-link-interactive;
  }

  .text-link-group {
    @apply text-link-base;
    @apply group-hover:decoration-dashed group-active:decoration-dotted;
  }

  .menu-link {
    @apply text-link-interactive;
    @apply underline-offset-[3px] outline-offset-4;
    @apply hover:underline hover:decoration-1;
    @apply border-2 border-solid border-current;
    @apply text-body pointer-events-auto;
    @apply flex rounded-full;
    @apply px-2 py-1;
    @apply focus-visible:outline-1;
    @apply focus-visible:outline-current;
    @apply transition-transform hover:scale-110 active:scale-125;
  }

  .external-link-emoji-cta {
    @apply text-[0.6em] sm:text-[1em];
  }

  /* margins */
  .mx-base {
    @apply mx-8;
  }
  .px-base {
    @apply px-8;
  }
  .mx-sm {
    @apply sm:mx-22;
  }
  .px-sm {
    @apply sm:px-22;
  }
  .mx-xl {
    @apply xl:mx-22;
  }
  .px-xl {
    @apply xl:px-22;
  }
  .mx-custom {
    @apply mx-base;
    @apply mx-sm;
    @apply mx-xl;
  }
  .px-custom {
    @apply px-base;
    @apply px-sm;
    @apply px-xl;
  }
  .mx-section {
    @apply mx-4;
    @apply mx-sm;
    @apply mx-xl;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  background: #172554;
  scroll-behavior: smooth;
}
a {
  color: white;
  text-decoration: none;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
